
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>historical guide</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel=" icon" href="img/favicon-32x32.png" type="image/x-icon">
    </head>
<body>
    <div class="container p-5 my-5 bg-dark ">
            <% var str = article.title %>
            <% var replaced = str.split(' ').join('+') %>
            <div class="d-flex justify-content-center text-white">
                <h1 class="text-white mb-4"><%= article.title %></h1>
            </div>
            
            <iframe
              width="100%"
              height="1000px"
              frameborder="0" style="border:5px"
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC3vioHoAYW74flNU4Hic_tG5jU8wAEHmc&q=<%= replaced %>"
              allowfullscreen>
            </iframe>
            <div class="d-grid">
                 <a href="/all" class="btn btn-light m-4 ">All Articles</a>
            </div>
    </div>
</body>
</html>
